div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}


body {
    font-family: sans-serif;
    background-color: #f3f3f3;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
     .container {
             max-width: 800px;
             margin: 0 auto;
             color: #2b2b2b;
             font-family: sans-serif;
             padding-left: 20px;
             padding-top: 60px;
}
